git+ssh://git@git.ecmwf.int/eccodes/eccodes-python.git@develop
numpy>=1.21.2
pandas>=1.3.4
scipy>=1.7.3
pyyaml
numexpr
scikit-learn
git+ssh://git@git.ecmwf.int/mars/pyfdb.git@develop
psutil
filelock>=3.12.0
earthkit-data
earthkit-meteo>=0.1.0
thermofeel
codetiming
code-meters
